<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Enforce offline release: strip network permissions from merged manifest. -->
    <uses-permission android:name="android.permission.INTERNET" tools:node="remove"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="remove"/>
</manifest>
